<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="F_Project.Properties.Settings.ProjectConnectionString" connectionString="Data Source=SANJAYA\MSSQLSERVER01;Initial Catalog=Project;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="F_Project.Properties.Settings.Project2ConnectionString" connectionString="Data Source=DESKTOP-D19T640;Initial Catalog=Project2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
